wp-config.php
wp-content/uploads
wp-content/cache
wp-content/upgrade
.htaccess
*.log
*.sql
node_modules/
vendor/
.env
*.zip
*.wpress
wp-content/ai1wm-backups/
wp-content/updraft/
wp-content/uploads/
.git_backup/
